django-vinaigrette >= 1.0.1, < 1.1.0
djangorestframework >= 3.6.3, < 3.7.0
djangorestframework-csv >= 2.0.0, < 2.1.0
drf-nested-routers
requests
django-resized
pillow
shortuuid
djangorestframework-jwt
dateutils
pyexcel_xls
